<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey
-->

<!DOCTYPE html>

<html lang="en">

  
  <head>

      <meta charset="utf-8">

      <title>Otherworldly Games</title>

      <link rel="stylesheet" type="text/css" href="/css/style.css">
      
  </head>


  <body>


    <div id="wrapper">


      <header>

        <h1>Otherworldly Games Employee Dashboard</h1> 

        <nav>

          <ul>

            <li>
              <a href="/">Home</a>
            </li>

            <li>
              <a href="/add_rm_games">Add/Edit Games</a>
            </li>

            <li>
              <a href="/add_rm_update_customers">Add/Edit Customers</a>
            </li>

            <li>
              <a href="/creators">View All Creators</a>
            </li>

            <li>
              <a href="/genres">View All Genres</a>
            </li>

          </ul>

        </nav>

      </header>


      {{{body}}}


    </div>

  </body>


</html>
