<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

add_rm_update_customers.handlebars
-->


<main>

	
	<h3>Add Customer</h3>

	<!-- Add Customer -->
	<form action="/add_rm_update_customers" method="post">

		<label>First Name:
			<input type="text" name="first_name">
		</label>
		<br/>

		<label>Last Name:
			<input type="text" name="last_name">
		</label>
		<br/>

		<label>Email:
			<input type="email" name="email">
		</label>
		<br/>

		<label>Phone Number:
			<input type="number" name="phone">
		</label>
		<br/>

		<input type="submit" value="add">
		<input id="add" name="add" type="hidden" value="addCustomer">

	</form>
	<br/>


	<h3>Delete Customer</h3>

	<!-- Delete Customer -->
	<form action="/add_rm_update_customers" method="post">

		<label>First Name:
			<input type="text" name="first_name">
		</label>
		<br/>

		<label>Last Name:
			<input type="text" name="last_name">
		</label>
		</br>

		<input type="submit" value="Delete">
		<input id="add" name="add" type="hidden" value="deleteCustomer">

	</form>
	<br/>


	<h3>Update Customer Debt</h3>

	<!-- Update Customer Debt -->
	<form action="/add_rm_update_customers" method="post">

		<label>First Name:
			<input type="text" name="first_name">
		</label>
		<br/>

		<label>Last Name:
			<input type="text" name="last_name">
		</label>
		<br/>

		<label>Debt:
			<input type="number" name="debt">
		</label>
		<br/>

		<input type="submit" value="Update">
		<input id="add" name="add" type="hidden" value="updateCustomerDebt">

	</form>
	<br/>


</main>
