<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

creators.handlebars
-->

<main>

	
	<h3>All Available Creators</h3>

	<ul>

		{{#each creators}}

		<li>{{this.first_name}} {{this.last_name}}</li>

		{{/each}}

	</ul>
	<br/>


</main>
