<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

creators.handlebars
-->

<main>

	
	<div class="pretty-list-wrapper">


		<h3 class="list-titles">All Available Creators</h3>


		<ul class="pretty-lists">

			{{#each creators}}

			<li>{{this.first_name}} {{this.last_name}}</li>

			{{/each}}

		</ul>

	</div>


</main>
