<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

customer.handlebars
-->


<main>

  <ul>

    <li>Name

      <ul>
        <li>First name: Michael</li>
        <li>Last Name: Scott</li>
      </ul>

    </li>

    <li>Email: DunderMifflin@gmail.com</li>

    <li>Phone: 123-234-1200</li>

    <li>Debt: $20</li>

    <li>Favorite Creator: Scarn</li>

    <li>Favorite Genre: Suspense</li>

    <li>Rentals

      <ul>
        <li>Game Title: A Game of Thrones Boardgame Second Edition</li>
          <a href="/return">Return</a>
      </ul>

    </li>

  </ul>
  <br/>


</main>
