<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

genres.handlebars
-->


<main>

	<h3>All Available Genres</h3>

	<ul>

		{{#each genres}}

		<li>{{this.genre_name}}</li>
		
		{{/each}}

	</ul>
	<br/>


</main>
