<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

genres.handlebars
-->


<main>
	

	<div class="pretty-list-wrapper">


		<h3 class="list-titles">All Available Genres</h3>

		<ul class="pretty-lists">

			{{#each genres}}

			<li>{{this.genre_name}}</li>
			
			{{/each}}

		</ul>
		
	</div>


</main>
