<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

index.handlebars
-->


<main>

  <!-- Customer Search Bar -->
  <h3>Search Customers</h3>


  <div class="customerSearch">

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter Customer Name">
    <!--input type="submit"-->
    <a href="/customer">Submit</a>

  </div>


  <!-- BoardGame Search bar -->
  <h3>Search Boardgames</h3>

  <div class="boardgameSearch">

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter BoardGame">
    <!--input type="submit"-->
    <a href="/boardgame">Submit</a>

    <!-- <h3>Search By</h3> -->
    <div class="filter-input-container">

      <label for="filter-searchBy">Search By</label>

      <div class="filter-input-element">

        <select id="filter-search" class="filter-input" name="filter-search">

          <option selected value="">Any</option>
          <option>Name</option>
          <option>Genre</option>
          <option>Creator</option>
          <option>Availbility</option>

        </select>

      </div>

    </div>

  </div>


</main>
