<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

index.handlebars
-->


<main>


  <div class="pretty-forms">

    <!-- Customer Search Bar -->
    <h3>Search Customers</h3>

    <form id="searchCustomer" method="get" action="/customer">

      <label for="fname">First Name:</label>
      <input type="text" id="fname" name="fname">
      <br/>

      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="lname"><br/>

      <input type="submit" value="Submit">

    </form>

  </div>


  <div class="pretty-forms">

    <!-- BoardGame Search bar -->
    <h3>Search Boardgames</h3>

    <form id="searchGame" method="get" action="/boardgame">

      <input type="text" name="gameInfo" id="gameInfo">

      <!-- Search By</h3> -->
      <div class="filter-input-container">

        <label for="filter-searchBy">Search By...</label>

        <div class="filter-input-element">

          <select id="filter-search" class="filter-input" name="filterBy">

            <option selected value="name" name="byName">Name</option>
            <option value="genre" name="byGenre">Genre</option>
            <option value="creator" name="byCreator">Creator First Name</option>

          </select>

        </div>

      </div>

      <input type="submit" value="Submit">

    </form>

  </div>


</main>
