<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

rental.handlebars
-->


<main>

	<!-- game information -->
	Game Title: A Game of Thrones Boardgame Second Edition

	<ul>

		<li>
			Summary: Lord of the Rings is a board game based on the high fantasy novel The Lord of the Rings by J. R. R. Tolkien. Published in 2000 by Kosmos in Germany, Wizards of the Coast in the U.S., and Parker Brothers in the U.K., the game is designed by Reiner Knizia and features artwork by illustrator John Howe.
		</li>

		<li>
			Minimum Player: 2
		</li>	

		<li>
			Maximum Player: 5
		</li>

		<li>
			Rating: 8.1/10
		</li>

		<li>
			Year Created: 2000
		</li>

	</ul>
	<br/>


	<!-- customer to rent the game -->
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter Customer Name">
    <!--input type="submit"-->
    <button inactive>Rent</button>
    <br/><br/>


</main>
