<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

return.handlebars
-->


<main>

	<!-- return game -->
	<ul>

		<li>
			Game Title: A Game of Thrones Boardgame Second Edition
		</li>

		<li>
			Rented By: Michael Scott
		</li>

		<li>
			Due Date: 11/17/2009
		</li>	

		<li>
			Overdue: Yes
		</li>

		<button inactive>Return</button>

	</ul>


</main>
